<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="#"><i class="fab fa-square-facebook"></i></a>
            <a href="#"><i class="fab fa-square-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <p class="f-info-brand">&copy; ATW-Around The World PVT LTD</p>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Term</a>
        </div>
    </div>
</footer>